#auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    font-family: reg;
}

#login {
    display: flex;
    gap: 10px;
    align-items: center;
}
.loginStatus {
    font-size: 12px;
    opacity: 0.5;
}

#settings {
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
}
#settings input {
    width: 100px;
}


#auth input, 
#auth button,
#auth select
{
    font-family: "lig";
    height: 30px;
    border-radius: 5px;
    background: none;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--CGray);
}
#auth input:hover, 
#auth button:hover, 
#auth select:hover
{
    border: 1px solid var(--CB4);
}

#searchWrapper {
    max-width: 900px;
    padding-top: 60px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    #auth {
        flex-wrap: wrap;
    }
    #login {
        flex-wrap: wrap;
        justify-content: center;
    }
    #searchWrapper {
        padding-top: 30px;
    }
}

@media (prefers-color-scheme: dark) {

    #auth {
        color: white;
    }

    #auth input, 
    #auth button, 
    #auth select 
    {
        border: 1px solid #333;
    }
    #auth input:hover, 
    #auth button:hover, 
    #auth select:hover
    {
        border: 1px solid #666;
    }

}