#auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    font-family: reg;
}

#login {
    display: flex;
    gap: 10px;
    align-items: center;
}
.loginStatus {
    font-size: 12px;
    opacity: 0.5;
}

#settings {
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
}
#settings input {
    width: 100px;
}

#settingsPanel {
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 100;
    background-color: rgba(255,255,255, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px rgba(0,0,0,.1);
}

#settingsPanel > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch input {
    display: none;
  }
  
  /* The slider (background of the switch) */
  .switch .slider {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    background-color: #ccc;
    border-radius: 17px;
    transition: 0.4s;
  }
  
  /* The circle inside the slider */
  .switch .slider::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
  }
  
  /* Change the background of the slider when the checkbox is checked */
  .switch input:checked + .slider {
    background-color: #4CAF50;
  }
  
  /* Move the circle to the right when checked */
  .switch input:checked + .slider::before {
    transform: translateX(13px); /* Move the circle to the right */
  }


#auth input, 
#auth button,
#auth select
{
    font-family: "lig";
    height: 30px;
    border-radius: 5px;
    background: none;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--CGray);
}
#auth input:hover, 
#auth button:hover, 
#auth select:hover
{
    border: 1px solid var(--CB4);
}

#searchWrapper {
    max-width: 900px;
    padding-top: 60px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    #auth {
        flex-wrap: wrap;
    }
    #login {
        flex-wrap: wrap;
        justify-content: center;
    }
    #searchWrapper {
        padding-top: 30px;
    }
}

@media (prefers-color-scheme: dark) {

    #auth {
        color: white;
    }

    #auth input, 
    #auth button, 
    #auth select 
    {
        border: 1px solid #333;
    }
    #auth input:hover, 
    #auth button:hover, 
    #auth select:hover
    {
        border: 1px solid #666;
    }

    #settingsPanel {
        background-color: rgba(var(--CB5-rgb), 0.9); /* Use RGBA for semi-transparent background */
        box-shadow: 0 0 50px rgba(0,0,0,.1);
        border: 1px solid #333;
        backdrop-filter: blur(10px); /* Apply blur to the background */
    }
    
    .switch .slider {
    background-color: #666;
    }
    
    .switch .slider::before {
    background-color: white;
    }
    
    .switch input:checked + .slider {
    background-color: #4CAF50;
    }

}